{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block header %}
<header class="hero hero--home">
  <div class="container">
    <h4>Introducing Team Intelligence</h4>
    <h1>Predictably Better Teams</h1>
  </div>
</header>
{% endblock %}

{% block content %}
  <!-- <h1 data-module="example">{{ message }}</h1> -->

<section class="section">
  <h2 class="text-center">Team Machine helps teams measure KPI’s and predict success</h2>
</section>

<section class="section section--gradient">
  <h3>PREDICT TEAM SUCCESS AND SIMULATE OPTIMAL OUTCOMES</h3>
  <p>
    OK Play structures the behavioral data in your organization and uses proprietary Artificial Intelligence to determine the best action plan for your team. Combined with data connectors and delightful UX for the entire team, our platform enables a real-time, data-driven, change management system.
  </p>

  <a href="#" class="btn btn-primary">Learn More</a>
</section>

<section class="section">
  <h2>THE VALUE OF TEAM INTELLIGENCE</h2>
</section>

<section class="section">
  <div class="container">
    <h2 class="text-center mb-5">Case Studies</h2>
    <div class="row">
      <div class="col-4">
        <div class="card">
          <img class="card-img-top" src="https://cdn.dribbble.com/users/53712/screenshots/3559242/angst.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p><small>By <a href="#">Name</a> in <a href="#">Category</a></small></p>
            <p class="card-text"><small>Some quick example text to build on the card title and make up the bulk of the card's content.</small></p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img class="card-img-top" src="https://cdn.dribbble.com/users/53712/screenshots/3559242/angst.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p><small>By <a href="#">Name</a> in <a href="#">Category</a></small></p>
            <p class="card-text"><small>Some quick example text to build on the card title and make up the bulk of the card's content.</small></p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img class="card-img-top" src="https://cdn.dribbble.com/users/53712/screenshots/3559242/angst.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p><small>By <a href="#">Name</a> in <a href="#">Category</a></small></p>
            <p class="card-text"><small>Some quick example text to build on the card title and make up the bulk of the card's content.</small></p>
          </div>
        </div>
      </div>
    </div>
    <section class="text-center mt-5 mb-5">
      <a href="#" class="btn btn-secondary">See all case studies --></a>
    </section>
  </div>
</section>

<section class="section section--photo">
  <div class="card">
    <h1>Make your team predictive.</h1>
    <p>
      Run predictive simulations completely customized to your team and goals.
    </p>

    <button>Request a demo</button>
  </div>
</section>

{% endblock %}
