.btn {
  text-transform: uppercase;
  &-primary {
    @extend .h4;
    color: $color-primary;
    background-color: #fff;
    box-shadow: 0 0 12px rgba($color-darker, .2);
    border: 0;
    padding: $lead-half $lead-double;

    &:hover {
      background-color: $color-primary;
      color: #fff;
    }
  }
  &-secondary {
    @extend .h4;
    color: #fff;
    background-color: $color-primary;
    box-shadow: 0 0 12px rgba(#fff, .2);
    border: 0;
    padding: $lead-half $lead-double;

    &:hover {
      background-color: $color-darker;
      color: #fff;
    }
  }
}
