.card {
  box-shadow: 0 8px 16px rgba(100, 43, 122, 0.2);
  border: none;
}

.card-title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: normal;
  text-transform: none;
}

.card--luxurious {
  .card-body {
    padding: 2rem;
  }
}
